*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.main-div{
    height:fit-content;
    background-color: aqua;
    
}
.header-main-div{

    height: 12%;
    width: 100%;
    background-color:yellow;
}
.main-list a{
    color:red ;
    text-decoration: none;
    font-size: .5cm;
}
.main-list{
    
    list-style: none;
    display: flex;
    padding: 10px;
    align-items: center;
}
.list-main{
    
    display: flex;
    display: flex;
    align-self:center;
}
.nav-main{

    display: flex;
    
}
.div-content{
    
    display: flex;
    height: auto;
    width: 100%;
}
.main-new-vacancy-div{
    float: left;
    height:max-content;
    width:27%;
    background-color:white;
    margin: 3%;
}
.main-footer{
    height: 10%;
    width: 100%;
    background-color: blueviolet;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
#email_id{
    margin-top: 5%;
    padding-right: 50%;
    margin-left: 2%;
    margin-bottom: 5%;
    padding-bottom: 2%;
}
#phone_no{
    margin-top: 5%;
    padding-right: 50%; 
    margin-left: 2%;
    margin-bottom: 5%; 
    padding-bottom: 2%;
}
.content{
    width: 75%;
    margin-left: 20px;
    margin-top: 50px;
}

table, th, td {
    border:1px solid black;
    font-size: 20px;
    background-color: antiquewhite;
  }
