*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(183, 242, 201);
}
.main-div{
    height:fit-content;

    
}
.header-main-div{

    height: 12%;
    width: 100%;
    background-color:rgb(47, 183, 233);
}
.main-list a{
    color:red ;
    text-decoration: none;
    font-size: .5cm;
}
.main-list{
    
    list-style: none;
    display: flex;
    padding: 10px;
    align-items: center;
}
.list-main{
    
    display: flex;
    display: flex;
    align-self:center;
}
.nav-main{

    display: flex;
    
}
.div-content{
    
    display: flex;
    height: auto;
    width: 100%;
}
.main-new-vacancy-div{
    float: left;
    height:max-content;
    width:27%;
    background-color:white;
    margin: 3%;
}
.main-footer{
    height: 10%;
    width: 100%;
    background-color: blueviolet;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
#email_id{
    margin-top: 5%;
    padding-right: 50%;
    margin-left: 2%;
    margin-bottom: 5%;
    padding-bottom: 2%;
}
#phone_no{
    margin-top: 5%;
    padding-right: 50%; 
    margin-left: 2%;
    margin-bottom: 5%; 
    padding-bottom: 2%;
}
.content{
    width: 75%;
    margin-left: 20px;
    margin-top: 50px;
}

table, th, td {
    border:1px solid black;
    font-size: 20px;
    background-color: antiquewhite;
    text-align: center;
  }
  a{
    text-decoration: none;
    text-align: center;
  }

  
      
  table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid rgb(50, 38, 16);
text-align: left;
text-align: center;
padding: 8px;
color: black;
}
input[type=text], select, textarea,button {
width: 100%;
padding: 10px;
margin: 5px;
border: 1px solid #251f1f;
border-radius: 4px;
resize: vertical;
}
tr:nth-child(even) {
background-color: #0009;
color: white;
}
.exp{
background-color: #9788;
  width: 1000px;
  border-radius: 10px;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
  border:1px black solid;
}
.page{
background-color: #9788;
  width: 900px;
  border-radius: 10px;
  padding: 20px;
  margin: 1% auto 0;
  text-align: center;
  border:1px black solid;  
}



h1{
text-align: center;
color: white;
background-color:#0009;
margin: 3% 5% 2% 5%;
padding: 1% 10% 1% 10%; 

}
#page{
width: 40px;
height: 40px;
border-radius: 20px;
text-align: center;
border: none;
}
@media only screen and (max-width: 620px) {
/* For mobile phones: */
.exp, input, td,th,#category,#gate,button,tr:nth-child(even) {
width: 100%;
}
}

